{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Add any additional styles you want here -->
    <style>  
        body {
          background: url("{%static 'img/carpark.png'%}") no-repeat center center fixed;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              margin: 0;
              padding: 0;
              background-size: cover;
              overflow-x: hidden;
              text-align: center;
              color: aliceblue;
          }
          </style>
</head>

<body>
    <div class="container mt-5">
        <h2>Password Change</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
    <!-- Add any additional scripts you want here -->
</body>

</html>
